@*@{
        ViewBag.Title = "Home Page";
    }*@

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Informal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="/web/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="/web/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="/web/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <script src='/web/ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="/web/m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function (v, d, o, ai) { ai = d.createElement("script"); ai.defer = true; ai.async = true; ai.src = v.location.protocol + o; d.head.appendChild(ai); })(window, document, "/web/vdo.ai/core/w3layouts/vdo.ai.js");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125810435-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125810435-1');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '/web/www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-30027142-1', 'w3layouts.com');
        ga('send', 'pageview');
    </script>
    <body>
        <header>
            <div class="container">
                <div class="header d-lg-flex justify-content-between align-items-center">
                    <div class="header-agile">
                        <h1>
                            <a class="navbar-brand logo" href="#">
                                <span class="fa fa-anchor" aria-hidden="true"></span> Avtoturargoh
                            </a>
                        </h1>
                    </div>
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li class="mr-lg-3 mr-2 active"><a href="#">Avtoturargoh</a></li>
                                <li class="mr-lg-3 mr-2"><a href="about.html"></a></li>
                                <li class="mr-lg-3 mr-2"><a href="gallery.html"></a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="mr-lg-3 mr-2"><a href="/Home/Logoff"><font color="red">Chiqish</font></a></li>
                                    <li class="mr-lg-3 mr-2"><a href="/Home/Open">@(User.Identity.IsAuthenticated ? "Salom: " + HttpContext.Current.User.Identity.Name : "")</a></li>

                                }
                                else
                                {
                                    <li class="mr-lg-3 mr-2"><a href="/Home/Krish"><font color="white">Kirish</font></a></li>

                                }
                                <li class="mr-3 icons"><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li class="mr-3 icons"><a href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                                <li class="mr-3 icons"><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                <li class=" icons"><a href="#"><span class="fa fa-pinterest" aria-hidden="true"></span></a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </header>

        <!-- //header -->
        <!-- banner -->
        <div class="banner_w3lspvt" id="home">
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <input type="radio" name="slides" id="slides_4" />

                <ul class="banner_slide_bg">
                    <li>
                        <div class="slider-info bg1">
                            <div class="bs-slider-overlay">
                                <div class="banner-text">
                                    <div class="container">
                                        <h2 class="movetxt agile-title text-capitalize">Avtoturargoh <span>saytiga</span></h2>
                                        <h4 class="movetxt mb-3 agile-title text-capitalize">Xush kelibsiz</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        @*<div class="slider-info bg2">
                                <div class="bs-slider-overlay1">
                                    <div class="banner-text">
                                        <div class="container">
                                            <h4 class="movetxt agile-title text-capitalize">Welcome to the world </h4>
                                            <h4 class="movetxt mb-3 agile-title text-capitalize">of Creative Space</h4>
                                            <a href="about.html" class="btn"> know More About Us </a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </li>
                    <li>
                        <div class="slider-info bg3">
                            <div class="bs-slider-overlay1">
                                <div class="banner-text">
                                    <div class="container">
                                        <h4 class="movetxt agile-title text-capitalize">Avtoturargoh saytiga <span><br />Xush kelibsiz</span></h4>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-info bg4">
                            <div class="bs-slider-overlay1">
                                <div class="banner-text">
                                    <div class="container">
                                        <h4 class="movetxt agile-title text-capitalize">Avtoturargoh saytiga </h4>
                                        <h4 class="movetxt mb-3 agile-title text-capitalize">Xush kelibsiz</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>