
@{
    ViewBag.Title = "Xisobot";
}
<br/>
<h1 style="text-align:center;"><b>Xisobot</b></h1>

<br /><br />
<div class="row">
    <div class="col-md-4"></div>
    
    <div class="col-md-2"><a href="/Admin/Bugun" class="btn btn-success" style="width:120px;">Kunlik</a></div>
    @*<div class="col-md-2"><a href="/Admin/Hafta" class="btn btn-success" style="width:120px;">Haftalik</a></div>*@
    <div class="col-md-2"><a href="/Admin/Adminga" class="btn btn-danger" style="width:120px;">Bosh sahifa</a></div>

</div>


