
@{
    ViewBag.Title = "JoySaqlash";
}
<br />
<br />
<h1 style="text-align:center;"><b>Saqlandi</b></h1>

<br />
<br />
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2"><a href="/Ish/Qvga" class="btn btn-danger">Bosh sahifa</a></div>

</div>