
@{
    ViewBag.Title = "Mehmon";
}
<br /><br />
<h1 style="text-align:center;"><b>Foydalanuvchini nazorat qilish</b></h1>
<br />
<br/>   
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><a href="/Ish/FoyKel" class="btn btn-success" style="width:120px;">Kelish</a></div>
    <div class="col-md-2"><a href="/Ish/FoyKet" class="btn btn-danger" style="width:120px;">Ketish</a></div>
    <div class="col-md-4"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2"> <div class="col-md-2"><a href="/Ish/Qvga" class="btn btn-danger" style="width:120px;">Bosh sahifa</a></div></div>

</div>

 


