@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-lg-4 contact-agileits-w3layouts">

    </div>
    <div class="col-lg-4 regstr-r-w3-agileits mt-lg-0 mt-5">
        <br /><h3>Narx </h3><br />
        <p style="color:red;">@ViewBag.habar</p>
        <div class="form-bg-w3ls">
            <form action="/Ish/N_qush" method="post">
                <div class="form-group">
                    <input type="text" name="Sum" class="form-control" placeholder="Summa" required="">
                </div>
               

                <button type="submit" class="button-w3layouts border btntext-uppercase">Saqlash</button>
            </form>
        </div>
    </div>
</div>

